Repository Alliance-codeBase/PostMeta, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, SQL, UI, VScode, Звуки, Изменение конфигов, Изменения Карт, Модулярная фишка, Спрайты

.github/labeler.yml:

"GitHub":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]
"SQL":
  - changed-files:
      - any-glob-to-any-file: ["SQL/**"]
"UI":
  - changed-files:
      - any-glob-to-any-file: ["tgui/**"]
"VScode":
  - changed-files:
      - any-glob-to-any-file: [".vscode/**"]
"Документация":
  - all:
    - changed-files:
        - any-glob-to-any-file: ["**/*.md"]
"Звуки":
  - changed-files:
      - any-glob-to-any-file: ["**/*.ogg"]
"Изменение конфигов":
  - changed-files:
      - any-glob-to-any-file: ["config/**"]
"Изменения Карт":
  - changed-files:
      - any-glob-to-any-file: ["**/*.dmm"]
"Модулярная фишка":
  - changed-files:
      - any-glob-to-any-file: ["modular_meta/**"]
"Спрайты":
  - changed-files:
       - any-glob-to-any-file: ["**/*.dmi"]

"Слияние с апстримом":
  - all:
      - base-branch: "master"
      - head-branch: "merge[-_]upstream"
"Фишка":
  - head-branch: ["^feat", "feat"]
"Улучшение":
  - head-branch: ["^tweak", "tweak"]
"Чиним":
  - head-branch: ["^fix", "fix"]

Update other_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: none

Add files via upload
  modular_meta/features/chromium_trioxide/code/chromium_trioxide_reagent.dm
  modular_meta/features/chromium_trioxide/code/poison_kit_Chromium.dm
  modular_meta/features/chromium_trioxide/code/poison_kit_bottle.dm
  modular_meta/features/chromium_trioxide/includes.dm
Labels: Модулярная фишка

Update main_modular_include.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

typo
  modular_meta/features/chromium_trioxide/includes.dm
Labels: Модулярная фишка

yet another typo
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

some changes to reskins verb && HoS formal suit black variant
  modular_meta/features/more_clothes/code/jobs_suits.dm
  modular_meta/features/more_clothes/code/resprite_clothes_module/proc.dm
  modular_meta/features/more_clothes/icons/items/suits/armor.dmi
  modular_meta/features/more_clothes/icons/on_mob/suits/armor.dmi
  modular_meta/features/more_clothes/includes.dm
Labels: Модулярная фишка, Спрайты

You can't code without making mistakes
  modular_meta/features/more_clothes/code/resprite_clothes_module/proc.dm
Labels: Модулярная фишка

fixes icon states
  code/modules/clothing/clothing.dm
  modular_meta/features/more_clothes/code/jobs_suits.dm
Labels: Модулярная фишка

Update jobs_armor_suits.dm
  modular_meta/features/more_clothes/code/jobs_armor_suits.dm
Labels: Модулярная фишка

1
  modular_meta/features/novichok/code/poison_kit.dm
  modular_meta/features/novichok/includes.dm
Labels: Модулярная фишка

Jukebox to bartender
  modular_meta/features/jukebox_and_tv_to_barmen/code/beacon.dm
  modular_meta/features/jukebox_and_tv_to_barmen/code/loadout.dm
  modular_meta/features/jukebox_and_tv_to_barmen/includes.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

crlf to lf && jukebox
  modular_meta/features/jukeboxes_to_bartender/code/beacon.dm
  modular_meta/features/jukeboxes_to_bartender/code/loadout.dm
  modular_meta/features/jukeboxes_to_bartender/includes.dm
  modular_meta/features/novichok/code/bottle.dm
  modular_meta/features/novichok/code/novichok_reagent.dm
Labels: Модулярная фишка

include
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

simplemapvote
  modular_meta/main_modular_include.dm
  modular_meta/tweaks/simple_vote_by_default/code/map_vote.dm
  modular_meta/tweaks/simple_vote_by_default/includes.dm
  modular_meta/tweaks/simple_vote_by_default/readme.md
Labels: Модулярная фишка

Update pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
Labels: none

Update other_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: none

seal those mouths shut!
  modular_meta/features/mutepeoplewithsuture/code/suture.dm
  modular_meta/features/mutepeoplewithsuture/includes.dm
  modular_meta/features/mutepeoplewithsuture/readme.md
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

just in case
  modular_meta/features/mutepeoplewithsuture/readme.md
Labels: Модулярная фишка

I kinda forgot to delete this shi
  modular_meta/features/mutepeoplewithsuture/code/suture.dm
Labels: Модулярная фишка

And this needed to be deleted too
  modular_meta/features/mutepeoplewithsuture/code/suture.dm
Labels: Модулярная фишка

logs to bot_events
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/stickyban.dm
Labels: none

aliris gey
  README.md
Labels: none

oh yeah, we also might want to exclude those from playing
  code/controllers/subsystem/ticker.dm
  modular_meta/features/title_screenz/readme.md
Labels: Модулярная фишка

initial
  modular_meta/features/hardsuits/code/hardsuit_types.dm
  modular_meta/features/hardsuits/icons/hats.dmi
  modular_meta/features/hardsuits/icons/head.dmi
  modular_meta/features/hardsuits/icons/suit.dmi
  modular_meta/features/hardsuits/icons/suits.dmi
Labels: Модулярная фишка, Спрайты

oops
  modular_meta/features/hardsuits/code/hardsuit_types.dm
Labels: Модулярная фишка

хелп интент + приемы
  modular_meta/features/martials/code/judo/judo.dm
Labels: Модулярная фишка

proc readability
  modular_meta/features/metacoins/code/metacoin.dm
  modular_meta/features/metacoins/code/metacoin_gambling.dm
Labels: Модулярная фишка

the problem is that those changes were made months ago
  code/modules/deathmatch/deathmatch_controller.dm
  modular_meta/features/metacoins/code/items/antag_token.dm
  modular_meta/features/metacoins/code/metacoin_deathmatch.dm
  modular_meta/features/metacoins/code/metacoin_shop.dm
  modular_meta/features/metacoins/code/preferences.dm
  modular_meta/features/metacoins/code/verb.dm
  modular_meta/features/metacoins/includes.dm
  modular_meta/tweaks/metacoins_to_homepage/homepage.dm
  tgui/packages/tgui/interfaces/MetaCoinAntagToken.tsx
  tgui/packages/tgui/interfaces/MetaCoinShop.tsx
Labels: UI, Модулярная фишка

uum no
  modular_meta/features/hardsuits/code/hardsuit_types.dm
Labels: Модулярная фишка

👍
  code/controllers/subsystem/ticker.dm
Labels: none

no qdel
  modular_meta/tweaks/metacoins_to_homepage/homepage.dm
Labels: Модулярная фишка

yeah-yeah
  code/controllers/subsystem/ticker.dm
Labels: none

👍
  code/controllers/subsystem/ticker.dm
Labels: none

pressure reduced
  code/__DEFINES/atmospherics/atmos_mob_interaction.dm
  code/modules/mob/living/carbon/human/_species.dm
Labels: none

okay, it probably DIDN'T work on my local, okay?
  code/controllers/subsystem/ticker.dm
Labels: none

screams in translations system
  code/datums/chatmessage.dm
  code/modules/mob/living/living_say.dm
  fenysha_events/code/modules/autotranslate/SSautotranslate.dm
  fenysha_events/code/modules/autotranslate/_autotranslate.dm
  fenysha_events/code/modules/autotranslate/config.dm
  fenysha_events/code/modules/autotranslate/debug.dm
  fenysha_events/code/modules/autotranslate/hear.dm
  fenysha_events/code/modules/autotranslate/libretranslate.dm
  fenysha_events/code/modules/autotranslate/preferences.dm
  fenysha_events/code/modules/autotranslate/provider.dm
  fenysha_events/code/modules/autotranslate/runechat.dm
  fenysha_events/code/modules/autotranslate/text_morph.dm
  fenysha_events/code/modules/autotranslate/translated_speech.dm
  fenysha_events/tools/autotranslate/Install-LibreTranslate.ps1
  fenysha_events/tools/autotranslate/install-libretranslate.sh
  tgui/packages/tgui-panel/chat/renderer.tsx
  tgui/packages/tgui-panel/chat/translation.ts
  tgui/packages/tgui-panel/index.tsx
  tgui/packages/tgui-panel/styles/components/Translation.scss
  tgui/packages/tgui-panel/styles/main.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/fenysha/autotranslate.tsx
Labels: UI

Revert PR #97722
  code/__DEFINES/footsteps.dm
  code/datums/components/shoe_footstep.dm
  code/datums/elements/footstep.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mod/mod_clothes.dm
  code/modules/mod/mod_control.dm
  code/modules/surgery/bodyparts/default_parts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  sound/items/attributions.txt
  sound/items/modsuit/rigstep.ogg
  sound/items/modsuit/rigstep_chonk.ogg
  sound/items/modsuit/rigstep_heavy.ogg
  sound/items/modsuit/rigstep_medium.ogg
  tgstation.dme
Labels: Звуки

initial
  code/game/objects/items/tools/medical/defib.dm
Labels: none

comments
  code/__DEFINES/atmospherics/atmos_mob_interaction.dm
  code/modules/mob/living/carbon/human/_species.dm
Labels: none

meow meow
  code/__DEFINES/atmospherics/atmos_mob_interaction.dm
  code/modules/mob/living/carbon/human/_species.dm
Labels: none
