Repository Alliance-codeBase/PostMeta, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, SQL, UI, VScode, Звуки, Изменение конфигов, Изменения Карт, Модулярная фишка, Спрайты

Enhance tonfa with detailed lore description
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

shoosh
  modular_meta/features/holidays/CB/includes.dm
  modular_meta/features/holidays/CB/lights.dm
  modular_meta/features/meta_redesign/code/light.dm
Labels: Модулярная фишка

but of course, the licence
  modular_meta/features/holidays/CB/attributions.txt
Labels: Модулярная фишка

quickfix
  modular_meta/features/soundtrack_modpack/code/countdown.dm
Labels: Модулярная фишка

cd
  modular_meta/features/metacoins/code/preferences.dm
Labels: Модулярная фишка

YOU. WILL. MAKE. STATION GOALS.
  modular_meta/features/metacoins/code/metacoin.dm
  modular_meta/features/metacoins/code/station_goals.dm
  modular_meta/features/metacoins/includes.dm
Labels: Модулярная фишка

capture 'em alive
  modular_meta/features/metacoins/code/capture.dm
  modular_meta/features/metacoins/code/metacoin.dm
  modular_meta/features/metacoins/includes.dm
Labels: Модулярная фишка

headrevs
  modular_meta/features/metacoins/code/capture.dm
Labels: Модулярная фишка

should've been done way earlier
  modular_meta/features/metacoins/code/metacoin.dm
Labels: Модулярная фишка

yes
  modular_meta/features/metacoins/code/metacoin.dm
  modular_meta/features/metacoins/code/preferences.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/metacoin.tsx
Labels: UI, Модулярная фишка

modules_fix
  code/controllers/subsystem/tts.dm
  code/datums/chatmessage.dm
  code/modules/mob/living/living_say.dm
  massmeta/modular_meta_features.dm
  massmeta/tools/autotranslate/Install-LibreTranslate-Native.ps1
  massmeta/tools/ticked_file_enforcement/schemas/modular_meta_defines.json
  massmeta/tools/ticked_file_enforcement/schemas/modular_meta_features.json
  massmeta/tools/ticked_file_enforcement/schemas/modular_meta_reverts.json
  massmeta/tools/ticked_file_enforcement/ticked_file_enforcement.py
  modular_meta/features/autotranslate/code/SSautotranslate.dm
  modular_meta/features/autotranslate/code/_autotranslate.dm
  modular_meta/features/autotranslate/code/config.dm
  modular_meta/features/autotranslate/code/debug.dm
  modular_meta/features/autotranslate/code/hear.dm
  modular_meta/features/autotranslate/code/libretranslate.dm
  modular_meta/features/autotranslate/code/preferences.dm
  modular_meta/features/autotranslate/code/provider.dm
  modular_meta/features/autotranslate/code/runechat.dm
  modular_meta/features/autotranslate/code/text_morph.dm
  modular_meta/features/autotranslate/code/translated_speech.dm
  modular_meta/features/autotranslate/includes.dm
  modular_meta/features/autotranslate/readme.md
  modular_meta/main_modular_include.dm
  modular_meta/tools/autotranslate/Install-LibreTranslate.ps1
  modular_meta/tools/autotranslate/install-libretranslate.sh
  modular_meta/tools/autotranslate/run-libretranslate.ps1
  modular_meta/tools/autotranslate/start_translate.bat
  modular_meta/tools/autotranslate/start_translate.py
  tgstation.dme
  tgui/packages/tgui-panel/chat/renderer.tsx
Labels: UI, Модулярная фишка

Update main_modular_include.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

Update main_modular_include.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

Update chatmessage.dm
  code/datums/chatmessage.dm
Labels: none

Update dbconfig.txt
  config/dbconfig.txt
Labels: Изменение конфигов

Update chatmessage.dm
  code/datums/chatmessage.dm
Labels: none

return_ticked_file_enforcement
  massmeta/tools/ticked_file_enforcement/schemas/modular_meta_defines.json
  massmeta/tools/ticked_file_enforcement/schemas/modular_meta_features.json
  massmeta/tools/ticked_file_enforcement/schemas/modular_meta_reverts.json
  massmeta/tools/ticked_file_enforcement/ticked_file_enforcement.py
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

😴
  modular_meta/features/holidays/CB/reagents.dm
Labels: Модулярная фишка

😴
  modular_meta/features/holidays/CB/scp294_drinks.dm
Labels: Модулярная фишка

😴😴😴
  code/controllers/configuration/configuration.dm
Labels: none

😴👽💩
  modular_meta/features/holidays/CB/reagents.dm
Labels: Модулярная фишка

every other day, i'm wondering
  modular_meta/features/holidays/CB/reagents.dm
Labels: Модулярная фишка

Update reagents.dm
  modular_meta/features/holidays/CB/reagents.dm
Labels: Модулярная фишка

birdshot
  _maps/birdshot.json
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

bloody katana
  code/game/objects/items/weaponry/melee/katana.dm
Labels: none

ДА ДАА ДААААА
  code/game/objects/items/weaponry/melee/katana.dm
Labels: none

ДА ДААА
  code/game/objects/items/weaponry/melee/katana.dm
Labels: none

ФОРМАЛЬНОСТИ
  code/game/objects/items/weaponry/melee/katana.dm
Labels: none

ТУТ КОНЕЦ EDIT НУЖНА ТОЧКА В КОНЦЕ ИЛИ НЕТ?
  code/game/objects/items/weaponry/melee/katana.dm
Labels: none

КОМПИЛЯЦИЯ
  code/game/objects/items/weaponry/melee/katana.dm
Labels: none

СПРАЙТ
  icons/obj/weapons/sword.dmi
Labels: Спрайты

fixes
  _maps/birdshot.json
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

head faxes
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

.github/labeler.yml:

"GitHub":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]
"SQL":
  - changed-files:
      - any-glob-to-any-file: ["SQL/**"]
"UI":
  - changed-files:
      - any-glob-to-any-file: ["tgui/**"]
"VScode":
  - changed-files:
      - any-glob-to-any-file: [".vscode/**"]
"Документация":
  - all:
    - changed-files:
        - any-glob-to-any-file: ["**/*.md"]
"Звуки":
  - changed-files:
      - any-glob-to-any-file: ["**/*.ogg"]
"Изменение конфигов":
  - changed-files:
      - any-glob-to-any-file: ["config/**"]
"Изменения Карт":
  - changed-files:
      - any-glob-to-any-file: ["**/*.dmm"]
"Модулярная фишка":
  - changed-files:
      - any-glob-to-any-file: ["modular_meta/**"]
"Спрайты":
  - changed-files:
       - any-glob-to-any-file: ["**/*.dmi"]

"Слияние с апстримом":
  - all:
      - base-branch: "master"
      - head-branch: "merge[-_]upstream"
"Фишка":
  - head-branch: ["^feat", "feat"]
"Улучшение":
  - head-branch: ["^tweak", "tweak"]
"Чиним":
  - head-branch: ["^fix", "fix"]
