Repository Alliance-codeBase/PostMeta, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, SQL, UI, VScode, Звуки, Изменение конфигов, Изменения Карт, Модулярная фишка, Спрайты

shake (didn't test lol) lore + uplink_item
  modular_meta/features/uplink_items/code/sledgehammer.dm
  modular_meta/features/uplink_items/code/uplink.dm
Labels: Модулярная фишка

the lore, the history
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

bold
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

feat: add say and adminhelp bans
  code/modules/admin/sql_ban_system.dm
  modular_meta/_defines/_main_modular_defines_include.dm
  modular_meta/_defines/communication_bans.dm
  modular_meta/features/communication_bans/code/m_adminhelp.dm
  modular_meta/features/communication_bans/code/m_say.dm
  modular_meta/features/communication_bans/includes.dm
  modular_meta/features/communication_bans/readme.md
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

hey
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

hey!
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

👍
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

bow before me
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

cheapest option ngl
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

balance issues
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

balance issues 18*4 vs 10*4
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

ofc
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

fix: halve init text size
  tgui/packages/tgui-lobby/styles/main.scss
Labels: UI

fix uplink && balance issues
  modular_meta/features/uplink_items/code/sledgehammer.dm
  modular_meta/features/uplink_items/code/uplink.dm
Labels: Модулярная фишка

fixes
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

jani additions
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

fuck off shields
  modular_meta/features/uplink_items/code/justice_mecha.dm
Labels: Модулярная фишка

нахуй дефлекты
  modular_meta/features/uplink_items/code/justice_mecha.dm
Labels: Модулярная фишка

случайные обезглавливания пока
  modular_meta/features/uplink_items/code/justice_mecha.dm
Labels: Модулярная фишка

meant to be a stealth mecha, not a death machine
  modular_meta/features/uplink_items/code/justice_mecha.dm
Labels: Модулярная фишка

okay, xackii, I guess you could coll this a mecha
  modular_meta/features/uplink_items/code/justice_mecha.dm
Labels: Модулярная фишка

what I consider a mecha, is something balanced
  modular_meta/features/uplink_items/code/justice_mecha.dm
Labels: Модулярная фишка

.github/labeler.yml:

"GitHub":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]
"SQL":
  - changed-files:
      - any-glob-to-any-file: ["SQL/**"]
"UI":
  - changed-files:
      - any-glob-to-any-file: ["tgui/**"]
"VScode":
  - changed-files:
      - any-glob-to-any-file: [".vscode/**"]
"Документация":
  - all:
    - changed-files:
        - any-glob-to-any-file: ["**/*.md"]
"Звуки":
  - changed-files:
      - any-glob-to-any-file: ["**/*.ogg"]
"Изменение конфигов":
  - changed-files:
      - any-glob-to-any-file: ["config/**"]
"Изменения Карт":
  - changed-files:
      - any-glob-to-any-file: ["**/*.dmm"]
"Модулярная фишка":
  - changed-files:
      - any-glob-to-any-file: ["modular_meta/**"]
"Спрайты":
  - changed-files:
       - any-glob-to-any-file: ["**/*.dmi"]

"Слияние с апстримом":
  - all:
      - base-branch: "master"
      - head-branch: "merge[-_]upstream"
"Фишка":
  - head-branch: ["^feat", "feat"]
"Улучшение":
  - head-branch: ["^tweak", "tweak"]
"Чиним":
  - head-branch: ["^fix", "fix"]
