Repository Alliance-codeBase/PostMeta, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, SQL, UI, VScode, Звуки, Изменение конфигов, Изменения Карт, Модулярная фишка, Спрайты

.github/labeler.yml:

"GitHub":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]
"SQL":
  - changed-files:
      - any-glob-to-any-file: ["SQL/**"]
"UI":
  - changed-files:
      - any-glob-to-any-file: ["tgui/**"]
"VScode":
  - changed-files:
      - any-glob-to-any-file: [".vscode/**"]
"Документация":
  - all:
    - changed-files:
        - any-glob-to-any-file: ["**/*.md"]
"Звуки":
  - changed-files:
      - any-glob-to-any-file: ["**/*.ogg"]
"Изменение конфигов":
  - changed-files:
      - any-glob-to-any-file: ["config/**"]
"Изменения Карт":
  - changed-files:
      - any-glob-to-any-file: ["**/*.dmm"]
"Модулярная фишка":
  - changed-files:
      - any-glob-to-any-file: ["modular_meta/**"]
"Спрайты":
  - changed-files:
       - any-glob-to-any-file: ["**/*.dmi"]

"Слияние с апстримом":
  - all:
      - base-branch: "master"
      - head-branch: "merge[-_]upstream"
"Фишка":
  - head-branch: ["^feat", "feat"]
"Улучшение":
  - head-branch: ["^tweak", "tweak"]
"Чиним":
  - head-branch: ["^fix", "fix"]

errors be gone
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

n
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

wtf is that
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

how this works????
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

22
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

aaaa!!
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

adds shuttle parts
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

kuvaldishe
  modular_meta/features/uplink_items/code/sledgehammer.dm
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_lefthand.dmi
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_righthand.dmi
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/obj/weapons/sledgehammer.dmi
Labels: Модулярная фишка, Спрайты

quickfix
  modular_meta/features/metacoins/code/preferences.dm
Labels: Модулярная фишка

lights and decals
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

Bloodsuckers as extra choise in antag-token-shop
  modular_meta/features/metacoins/code/items/antag_token.dm
Labels: Модулярная фишка

Overlarping plumbing machine on Default Layer detected at Restrooms
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Изменения Карт

Fix Grammar errors
  modular_meta/features/metacoins/code/items/antag_token.dm
Labels: Модулярная фишка

G
  modular_meta/features/metacoins/code/items/antag_token.dm
Labels: Модулярная фишка

Ленивый апдейт я чето заебался мотивация пропала
  modular_meta/features/martials/code/judo/judo.dm
  modular_meta/features/martials/code/judo/judo_component.dm
Labels: Модулярная фишка

malf malf malf
  modular_meta/tweaks/antagonists_balance/code/malf_ai_modules.dm
  modular_meta/tweaks/antagonists_balance/includes.dm
Labels: Модулярная фишка

fix: restore traitor progression for secondary objectives
  code/controllers/configuration/entries/game_options.dm
  code/datums/mind/_mind.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/modular_computers/computers/item/disks/virus_disk.dm
  code/modules/uplink/uplink_items/device_tools.dm
  modular_meta/_defines/signals_traitor.dm
  modular_meta/features/progressive_traitor/code/components/uplink.dm
  modular_meta/features/progressive_traitor/code/config.dm
  modular_meta/features/progressive_traitor/code/datum_traitor.dm
  modular_meta/features/progressive_traitor/code/items/virus_disk.dm
  modular_meta/features/progressive_traitor/code/subsystem/traitor_subsystem.dm
  modular_meta/features/progressive_traitor/code/uplink_handler.dm
  modular_meta/features/progressive_traitor/includes.dm
  modular_meta/features/progressive_traitor/readme.md
  modular_meta/tweaks/antagonists_balance/code/mod.dm
  modular_meta/tweaks/antagonists_balance/code/uplink_items.dm
  modular_meta/tweaks/antagonists_balance/readme.md
  tgui/packages/tgui/interfaces/Uplink/ObjectiveElement.tsx
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
  tgui/packages/tgui/styles/interfaces/UplinkReputation.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Модулярная фишка

fix: clean up traitor progression module
  code/modules/antagonists/traitor/README.md
  modular_meta/_defines/signals_traitor.dm
  modular_meta/features/progressive_traitor/code/datum_traitor.dm
  modular_meta/features/progressive_traitor/code/items/virus_disk.dm
  modular_meta/features/progressive_traitor/code/subsystem/traitor_subsystem.dm
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
  tgui/packages/tgui/styles/interfaces/UplinkReputation.scss
Labels: UI, Модулярная фишка

deep and darker
  .github/workflows/run_linters.yml
  _maps/bearcat.json
  _maps/map_files/generic/CentCom.dmm
  _maps/map_jsons/stroika.json
  _maps/pubbystation.json
  interface/skin.dmf
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
Labels: GitHub, Изменения Карт, Модулярная фишка

lmao
  _maps/map_files/generic/CentCom.dmm
Labels: Изменения Карт

fix: move modpacks button to html lobby
  code/_onclick/hud/screen_objects/new_player.dm
  modular_meta/__modpack/assets_modpacks.dm
  modular_meta/__modpack/icons/modpacks.png
  modular_meta/__modpack/icons/modpacks_highlighted.png
  modular_meta/__modpack/icons/modpacks_pressed.png
  modular_meta/__modpack/modpacks_subsystem.dm
  modular_meta/__modpack/mods_button.dmi
  tgui/packages/tgui-lobby/LobbyMenu.tsx
Labels: UI, Модулярная фишка, Спрайты

fix: clean up map rotation config
  config/maps.txt
Labels: Изменение конфигов

ci: checkout modular_meta for integration tests
  .github/workflows/run_integration_tests.yml
Labels: GitHub

whoops
  interface/skin.dmf
  rust_g.dll
Labels: none

feat: add bouncy quirk
  modular_meta/features/quirk_bouncy/code/bouncy.dm
  modular_meta/features/quirk_bouncy/includes.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

fix: restore cyrillic map font
  interface/skin.dmf
Labels: none

fix: build runechat icons with icon()
  code/datums/chatmessage.dm
  modular_meta/main_modular_include.dm
  modular_meta/tweaks/runechat_icons/code/runechat_icons.dm
  modular_meta/tweaks/runechat_icons/includes.dm
  modular_meta/tweaks/runechat_icons/readme.md
Labels: Модулярная фишка

initial
  modular_meta/_defines/antagonists.dm
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_hud.dm
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_moodlets.dm
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_sol.dm
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/subsystem_sunlight.dm
  modular_meta/features/antagonists/bloodsuckers/code/powers/gohome.dm
  modular_meta/features/antagonists/icons/bloodsuckers/actions_bloodsucker.dmi
  modular_meta/features/antagonists/includes.dm
  tgui/packages/tgui/interfaces/AntagInfoBloodsucker.tsx
Labels: UI, Модулярная фишка, Спрайты

midround bloodsuckers now working!!1!
  modular_meta/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  modular_meta/features/antagonists/bloodsuckers/rulesets.dm
Labels: Модулярная фишка

feat: add explosives ban
  code/modules/admin/sql_ban_system.dm
  code/modules/reagents/chemistry/holder/holder.dm
  html/admin/banpanel.css
  modular_meta/_defines/_main_modular_defines_include.dm
  modular_meta/_defines/explosives_ban.dm
  modular_meta/features/explosives_ban/code/explosives_ban.dm
  modular_meta/features/explosives_ban/code/m_assemblies.dm
  modular_meta/features/explosives_ban/code/m_bombs.dm
  modular_meta/features/explosives_ban/code/m_grenades.dm
  modular_meta/features/explosives_ban/code/m_reagents.dm
  modular_meta/features/explosives_ban/includes.dm
  modular_meta/features/explosives_ban/readme.md
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

sounds && stuff
  modular_meta/features/uplink_items/code/sledgehammer.dm
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_lefthand.dmi
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_righthand.dmi
  modular_meta/features/uplink_items/includes.dm
  modular_meta/features/uplink_items/sound/sledgehammer/attributions.txt
  modular_meta/features/uplink_items/sound/sledgehammer/flesh_hit1.ogg
  modular_meta/features/uplink_items/sound/sledgehammer/flesh_hit2.ogg
  modular_meta/features/uplink_items/sound/sledgehammer/flesh_hit3.ogg
  modular_meta/features/uplink_items/sound/sledgehammer/heavy_hit.ogg
  modular_meta/features/uplink_items/sound/sledgehammer/metal_hit.ogg
  modular_meta/features/uplink_items/sound/sledgehammer/metal_hit2.ogg
Labels: Звуки, Модулярная фишка, Спрайты

guess what breaking our upstream cron? timezones!
  .github/workflows/upstream.yml
Labels: GitHub

fix: show init text in html lobby
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
  code/modules/lobby_menu/lobby_menu.dm
  code/modules/mob/dead/new_player/login.dm
  modular_meta/tweaks/init_text/README.md
  modular_meta/tweaks/init_text/code.dm
  tgui/packages/tgui-lobby/InitText.tsx
  tgui/packages/tgui-lobby/LobbyMenu.tsx
  tgui/packages/tgui-lobby/styles/init_text_fonts.css
  tgui/packages/tgui-lobby/styles/main.scss
Labels: UI, Модулярная фишка

fix: anchor init text to bottom left
  tgui/packages/tgui-lobby/styles/main.scss
Labels: UI

move json into map_jsons
  _maps/map_jsons/birdshot.json
Labels: none

moves from button down to right click hold
  modular_meta/features/uplink_items/code/sledgehammer.dm
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_lefthand.dmi
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_righthand.dmi
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/obj/weapons/sledgehammer.dmi
Labels: Модулярная фишка, Спрайты

unfucks the icon
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_righthand.dmi
Labels: Модулярная фишка, Спрайты

some changes lol
  modular_meta/features/uplink_items/code/sledgehammer.dm
  modular_meta/features/uplink_items/icons/weapon/sledgehammer/mob/inhands/weapons/hammers_lefthand.dmi
Labels: Модулярная фишка, Спрайты

pre_attack checks, head_dismemberment
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка

balancing, blood trails (blood splatters suck)
  modular_meta/features/uplink_items/code/sledgehammer.dm
Labels: Модулярная фишка
