Repository Alliance-codeBase/PostMeta, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, SQL, UI, VScode, Звуки, Изменение конфигов, Изменения Карт, Модулярная фишка, Спрайты

.github/labeler.yml:

"GitHub":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]
"SQL":
  - changed-files:
      - any-glob-to-any-file: ["SQL/**"]
"UI":
  - changed-files:
      - any-glob-to-any-file: ["tgui/**"]
"VScode":
  - changed-files:
      - any-glob-to-any-file: [".vscode/**"]
"Документация":
  - all:
    - changed-files:
        - any-glob-to-any-file: ["**/*.md"]
"Звуки":
  - changed-files:
      - any-glob-to-any-file: ["**/*.ogg"]
"Изменение конфигов":
  - changed-files:
      - any-glob-to-any-file: ["config/**"]
"Изменения Карт":
  - changed-files:
      - any-glob-to-any-file: ["**/*.dmm"]
"Модулярная фишка":
  - changed-files:
      - any-glob-to-any-file: ["modular_meta/**"]
"Спрайты":
  - changed-files:
       - any-glob-to-any-file: ["**/*.dmi"]

"Слияние с апстримом":
  - all:
      - base-branch: "master"
      - head-branch: "merge[-_]upstream"
"Фишка":
  - head-branch: ["^feat", "feat"]
"Улучшение":
  - head-branch: ["^tweak", "tweak"]
"Чиним":
  - head-branch: ["^fix", "fix"]

init
  modular_meta/features/event/CB/holiday.dm
Labels: Модулярная фишка

greet() && prefix && name
  modular_meta/features/event/CB/holiday.dm
Labels: Модулярная фишка

color
  modular_meta/features/event/CB/holiday.dm
Labels: Модулярная фишка

benjamin buttons, and benjamin levers
  code/modules/recycling/conveyor.dm
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/doors_hv/DoorCheckpoint.ogg
Labels: Звуки, Модулярная фишка

listen carefully
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/gates/BigDoorClose.ogg
  modular_meta/features/event/CB/sound/gates/BigDoorClose1.ogg
  modular_meta/features/event/CB/sound/gates/BigDoorClose2.ogg
  modular_meta/features/event/CB/sound/gates/BigDoorOpen.ogg
  modular_meta/features/event/CB/sound/gates/BigDoorOpen1.ogg
  modular_meta/features/event/CB/sound/gates/BigDoorOpen2.ogg
Labels: Звуки, Модулярная фишка

you need my lift, and I need your lift
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/elevator/ElevatorClose1.ogg
  modular_meta/features/event/CB/sound/elevator/ElevatorClose2.ogg
  modular_meta/features/event/CB/sound/elevator/ElevatorClose3.ogg
  modular_meta/features/event/CB/sound/elevator/ElevatorOpen1.ogg
  modular_meta/features/event/CB/sound/elevator/ElevatorOpen2.ogg
  modular_meta/features/event/CB/sound/elevator/ElevatorOpen3.ogg
Labels: Звуки, Модулярная фишка

you have disabled lift controller systems
  code/game/machinery/doors/windowdoor.dm
  code/modules/transport/linear_controller.dm
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/elevator/Beep.ogg
  modular_meta/features/event/CB/sound/elevator/Moving.ogg
Labels: Звуки, Модулярная фишка

site is experiencing multiple keter containment breaches, full site-lockdown initiated
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/alarms/site_is_experiencing_combined.ogg
Labels: Звуки, Модулярная фишка

announcer && mobdeathsound
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/announcer/Announc.ogg
  modular_meta/features/event/CB/sound/announcer/Announc173Contain.ogg
  modular_meta/features/event/CB/sound/announcer/AnnouncAfter1.ogg
  modular_meta/features/event/CB/sound/announcer/AnnouncAfter2.ogg
  modular_meta/features/event/CB/sound/announcer/AnnouncCameraCheck.ogg
  modular_meta/features/event/CB/sound/announcer/AnnouncCameraFound1.ogg
  modular_meta/features/event/CB/sound/announcer/AnnouncCameraFound2.ogg
  modular_meta/features/event/CB/sound/announcer/AnnouncCameraNoFound.ogg
  modular_meta/features/event/CB/sound/announcer/ThreatAnnounc1.ogg
  modular_meta/features/event/CB/sound/announcer/ThreatAnnounc2.ogg
  modular_meta/features/event/CB/sound/announcer/ThreatAnnounc3.ogg
  modular_meta/features/event/CB/sound/announcer/ThreatAnnouncFinal.ogg
  modular_meta/features/event/CB/sound/announcer/ThreatAnnouncPossession.ogg
Labels: Звуки, Модулярная фишка

duh
  modular_meta/features/event/CB/holiday.dm
Labels: Модулярная фишка

duh x2
  modular_meta/features/event/CB/holiday.dm
Labels: Модулярная фишка

no errors here
  modular_meta/features/event/CB/holiday.dm
Labels: Модулярная фишка

stinger sound && unreachable code fix
  modular_meta/features/event/CB/holiday.dm
Labels: Модулярная фишка

swaps intro bluealertsound, weaponry sound
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/Intro.ogg
  modular_meta/features/event/CB/sound/weaponry/Gunshot.ogg
  modular_meta/features/event/CB/sound/weaponry/Gunshot2.ogg
Labels: Звуки, Модулярная фишка

areas ambience
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/ambience/ToZone2.ogg
  modular_meta/features/event/CB/sound/ambience/ToZone3.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient1.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient10.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient11.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient2.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient3.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient4.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient5.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient6.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient7.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient8.ogg
  modular_meta/features/event/CB/sound/ambience/Zone1/Ambient9.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient1.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient10.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient11.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient2.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient3.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient4.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient5.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient6.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient7.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient8.ogg
  modular_meta/features/event/CB/sound/ambience/Zone2/Ambient9.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient1.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient10.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient11.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient12.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient2.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient3.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient4.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient5.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient6.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient7.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient8.ogg
  modular_meta/features/event/CB/sound/ambience/Zone3/Ambient9.ogg
Labels: Звуки, Модулярная фишка

steps, pickup, attack sounds
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/interactions/Slash1.ogg
  modular_meta/features/event/CB/sound/interactions/Slash2.ogg
Labels: Звуки, Модулярная фишка

maints are scary 😱
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/sound/ambience/Horror0.ogg
  modular_meta/features/event/CB/sound/ambience/Horror1.ogg
  modular_meta/features/event/CB/sound/ambience/Horror10.ogg
  modular_meta/features/event/CB/sound/ambience/Horror11.ogg
  modular_meta/features/event/CB/sound/ambience/Horror12.ogg
  modular_meta/features/event/CB/sound/ambience/Horror13.ogg
  modular_meta/features/event/CB/sound/ambience/Horror14.ogg
  modular_meta/features/event/CB/sound/ambience/Horror15.ogg
  modular_meta/features/event/CB/sound/ambience/Horror16.ogg
  modular_meta/features/event/CB/sound/ambience/Horror2.ogg
  modular_meta/features/event/CB/sound/ambience/Horror3.ogg
  modular_meta/features/event/CB/sound/ambience/Horror4.ogg
  modular_meta/features/event/CB/sound/ambience/Horror5.ogg
  modular_meta/features/event/CB/sound/ambience/Horror6.ogg
  modular_meta/features/event/CB/sound/ambience/Horror7.ogg
  modular_meta/features/event/CB/sound/ambience/Horror8.ogg
  modular_meta/features/event/CB/sound/ambience/Horror9.ogg
Labels: Звуки, Модулярная фишка

final
  modular_meta/_defines/_main_modular_defines_include.dm
  modular_meta/_defines/holiday.dm
  modular_meta/_defines/span.dm
  modular_meta/features/event/CB/holiday.dm
  modular_meta/features/event/CB/icons/294panel.png
  modular_meta/features/event/CB/icons/security.dmi
  modular_meta/features/event/CB/icons/security_item.dmi
  modular_meta/features/event/CB/includes.dm
  modular_meta/features/event/CB/reagents.dm
  modular_meta/features/event/CB/scp294.dm
  modular_meta/features/event/CB/scp294_assets.dm
  modular_meta/features/event/CB/scp294_drinks.dm
  modular_meta/features/event/CB/sec_off.dm
  modular_meta/features/event/CB/sound/294/ahh.ogg
  modular_meta/features/event/CB/sound/294/burn.ogg
  modular_meta/features/event/CB/sound/294/coin_drop.ogg
  modular_meta/features/event/CB/sound/294/cough.ogg
  modular_meta/features/event/CB/sound/294/dispense0.ogg
  modular_meta/features/event/CB/sound/294/dispense1.ogg
  modular_meta/features/event/CB/sound/294/dispense2.ogg
  modular_meta/features/event/CB/sound/294/dispense3.ogg
  modular_meta/features/event/CB/sound/294/ew1.ogg
  modular_meta/features/event/CB/sound/294/ew2.ogg
  modular_meta/features/event/CB/sound/294/outofrange.ogg
  modular_meta/features/event/CB/sound/294/slurp.ogg
  modular_meta/features/event/CB/sound/294/spit.ogg
  modular_meta/features/meta_redesign/code/light.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
  tgui/packages/tgui-panel/styles/tgchat/scp294.scss
  tgui/packages/tgui/interfaces/SCP294.tsx
  tgui/packages/tgui/styles/interfaces/SCP294.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Звуки, Модулярная фишка, Спрайты

feat: rework force say interruptions
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_say.dm
  code/modules/tgui_input/say_modal/speech.dm
  modular_meta/_defines/_main_modular_defines_include.dm
  modular_meta/_defines/force_say.dm
  modular_meta/main_modular_include.dm
  modular_meta/tweaks/force_say/code/force_say.dm
  modular_meta/tweaks/force_say/code/m_debuffs.dm
  modular_meta/tweaks/force_say/code/m_living.dm
  modular_meta/tweaks/force_say/code/m_modal.dm
  modular_meta/tweaks/force_say/code/m_speech.dm
  modular_meta/tweaks/force_say/includes.dm
  modular_meta/tweaks/force_say/readme.md
  tgui/packages/tgui-say/TguiSay.tsx
Labels: UI, Модулярная фишка

leaflet lol
  modular_meta/features/event/CB/assistant.dm
  modular_meta/features/event/CB/icons/Class-D_Orientation_Leaflet.png
  modular_meta/features/event/CB/includes.dm
Labels: Модулярная фишка

m'kay
  modular_meta/features/event/CB/assistant.dm
  modular_meta/features/event/CB/reagents.dm
Labels: Модулярная фишка

okay elephant i get it
  modular_meta/features/metacoins/code/items/persistent.dm
Labels: Модулярная фишка

refactor: send one force say text to chat and tts
  code/modules/mob/living/living_say.dm
  modular_meta/tweaks/force_say/code/force_say.dm
  modular_meta/tweaks/force_say/readme.md
Labels: Модулярная фишка

fix + PARTER
  modular_meta/features/martials/code/judo/judo.dm
  modular_meta/features/martials/code/judo/judo_component.dm
  tgstation.dme
Labels: Модулярная фишка

Revert "refactor: send one force say text to chat and tts"
  code/modules/mob/living/living_say.dm
  modular_meta/tweaks/force_say/code/force_say.dm
  modular_meta/tweaks/force_say/readme.md
Labels: Модулярная фишка

AUTOTRANSLATE
  SpacemanDMM.toml
  code/controllers/subsystem/tts.dm
  code/modules/mob/living/living_say.dm
  config/config.txt
  config/dbconfig.txt
  massmeta/code/modules/autotranslate/SSautotranslate.dm
  massmeta/code/modules/autotranslate/_autotranslate.dm
  massmeta/code/modules/autotranslate/config.dm
  massmeta/code/modules/autotranslate/debug.dm
  massmeta/code/modules/autotranslate/hear.dm
  massmeta/code/modules/autotranslate/libretranslate.dm
  massmeta/code/modules/autotranslate/preferences.dm
  massmeta/code/modules/autotranslate/provider.dm
  massmeta/code/modules/autotranslate/runechat.dm
  massmeta/code/modules/autotranslate/text_morph.dm
  massmeta/code/modules/autotranslate/translated_speech.dm
  massmeta/modular_meta_features.dm
  massmeta/tools/autotranslate/Install-LibreTranslate-Native.ps1
  massmeta/tools/autotranslate/Install-LibreTranslate.ps1
  massmeta/tools/autotranslate/install-libretranslate.sh
Labels: Изменение конфигов

Update belts.dm
  code/datums/storage/subtypes/belts.dm
Labels: none

Update belts.dm
  code/datums/storage/subtypes/belts.dm
Labels: none

Retweak FUCK
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Fix tonfa indentation
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Update belts.dm
  code/datums/storage/subtypes/belts.dm
Labels: none

have fun drinking, and not have fun transfering
  modular_meta/features/holidays/CB/reagents.dm
  modular_meta/features/holidays/CB/scp294.dm
Labels: Модулярная фишка

replaces skirts for uniforms, replaces annoying sounds
  modular_meta/features/holidays/CB/holiday.dm
  modular_meta/features/holidays/CB/sec_off.dm
  modular_meta/features/holidays/CB/sound/interactions/Save1.ogg
  modular_meta/features/holidays/CB/sound/interactions/Save2.ogg
Labels: Звуки, Модулярная фишка

an end, after all, of course
  modular_meta/features/holidays/CB/holiday.dm
Labels: Модулярная фишка

Update SHUTTLE_REFUEL_DELAY to 36000
  config/game_options.txt
Labels: Изменение конфигов

Update melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

Fix indentation to tabs only in melee.dm
  modular_meta/features/security_extended/code/weapon/melee.dm
Labels: Модулярная фишка

киря че ты сделал
  modular_meta/features/title_screenz/includes.dm
Labels: Модулярная фишка

😫😫😫
  modular_meta/features/_code_helpers/includes.dm
Labels: Модулярная фишка
