Repository Alliance-codeBase/PostMeta, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, SQL, UI, VScode, Звуки, Изменение конфигов, Изменения Карт, Модулярная фишка, Спрайты

.github/labeler.yml:

"GitHub":
  - changed-files:
      - any-glob-to-any-file: [".github/**"]
"SQL":
  - changed-files:
      - any-glob-to-any-file: ["SQL/**"]
"UI":
  - changed-files:
      - any-glob-to-any-file: ["tgui/**"]
"VScode":
  - changed-files:
      - any-glob-to-any-file: [".vscode/**"]
"Документация":
  - all:
    - changed-files:
        - any-glob-to-any-file: ["**/*.md"]
"Звуки":
  - changed-files:
      - any-glob-to-any-file: ["**/*.ogg"]
"Изменение конфигов":
  - changed-files:
      - any-glob-to-any-file: ["config/**"]
"Изменения Карт":
  - changed-files:
      - any-glob-to-any-file: ["**/*.dmm"]
"Модулярная фишка":
  - changed-files:
      - any-glob-to-any-file: ["modular_meta/**"]
"Спрайты":
  - changed-files:
       - any-glob-to-any-file: ["**/*.dmi"]

"Слияние с апстримом":
  - all:
      - base-branch: "master"
      - head-branch: "merge[-_]upstream"
"Фишка":
  - head-branch: ["^feat", "feat"]
"Улучшение":
  - head-branch: ["^tweak", "tweak"]
"Чиним":
  - head-branch: ["^fix", "fix"]

Update massmeta_64.png
  modular_meta/tweaks/better_ui/icons/massmeta_64.png
Labels: Модулярная фишка

бешенство одааа
  code/datums/diseases/cordafungi.dm
Labels: none

Ящик с биоговном
  code/modules/cargo/packs/imports.dm
Labels: none

я заебался
  code/datums/diseases/annorwa.dm
Labels: none

Update annorwa.dm
  code/datums/diseases/annorwa.dm
Labels: none

Update imports.dm
  code/modules/cargo/packs/imports.dm
Labels: none

Update annorwa.dm
  code/datums/diseases/annorwa.dm
Labels: none

Update cordafungi.dm
  code/datums/diseases/cordafungi.dm
Labels: none

Update bottle.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Add files via upload
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

Add files via upload
  modular_meta/features/traitor_viruses/code/cargocrates.dm
  modular_meta/features/traitor_viruses/code/traitor_viruses.dm
  modular_meta/features/traitor_viruses/includes.dm
Labels: Модулярная фишка

Update traitor_viruses.dm
  modular_meta/features/traitor_viruses/code/traitor_viruses.dm
Labels: Модулярная фишка

мало
  modular_meta/features/traitor_viruses/code/cargocrates.dm
Labels: Модулярная фишка

Update traitor_viruses.dm
  modular_meta/features/traitor_viruses/code/traitor_viruses.dm
Labels: Модулярная фишка

Update traitor_viruses.dm
  modular_meta/features/traitor_viruses/code/traitor_viruses.dm
Labels: Модулярная фишка

Update cargocrates.dm
  modular_meta/features/traitor_viruses/code/cargocrates.dm
Labels: Модулярная фишка

Update traitor_viruses.dm
  modular_meta/features/traitor_viruses/code/traitor_viruses.dm
Labels: Модулярная фишка

Update traitor_viruses.dm
  modular_meta/features/traitor_viruses/code/traitor_viruses.dm
Labels: Модулярная фишка

modular_meta\features\traitor_viruses\code\traitor_viruses.dm:32:warning (unused_var): need_mob_update: variable defined but not used
  modular_meta/features/traitor_viruses/code/traitor_viruses.dm
Labels: Модулярная фишка

Update toxins.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
Labels: none

Update toxin_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: none

Add files via upload
  modular_meta/features/novichok/code/novichok_reagent.dm
  modular_meta/features/novichok/code/novichok_recipe.dm
Labels: Модулярная фишка

Add files via upload
  modular_meta/features/novichok/includes.dm
Labels: Модулярная фишка

Update includes.dm
  modular_meta/features/novichok/includes.dm
Labels: Модулярная фишка

Update includes.dm
  modular_meta/features/novichok/includes.dm
Labels: Модулярная фишка

Update includes.dm
  modular_meta/features/novichok/includes.dm
Labels: Модулярная фишка

Update main_modular_include.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

Update includes.dm
  modular_meta/features/traitor_viruses/includes.dm
Labels: Модулярная фишка

Update and rename cargocrates.dm to uplinkviruses.dm
  modular_meta/features/traitor_viruses/code/cargocrates.dm
  modular_meta/features/traitor_viruses/code/uplinkviruses.dm
Labels: Модулярная фишка

Update includes.dm
  modular_meta/features/traitor_viruses/includes.dm
Labels: Модулярная фишка

Update uplinkviruses.dm
  modular_meta/features/traitor_viruses/code/uplinkviruses.dm
Labels: Модулярная фишка

Update uplinkviruses.dm
  modular_meta/features/traitor_viruses/code/uplinkviruses.dm
Labels: Модулярная фишка

Update uplinkviruses.dm
  modular_meta/features/traitor_viruses/code/uplinkviruses.dm
Labels: Модулярная фишка

Update uplinkviruses.dm
  modular_meta/features/traitor_viruses/code/uplinkviruses.dm
Labels: Модулярная фишка

Add files via upload
  modular_meta/features/fuckyou/code/skibiditoilet.dm
  modular_meta/features/fuckyou/icons/skibidi.dmi
  modular_meta/features/fuckyou/includes.dm
Labels: Модулярная фишка, Спрайты

Update main_modular_include.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

Update main_modular_include.dm
  modular_meta/main_modular_include.dm
Labels: Модулярная фишка

Атмос это рак...
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: none
